extends partials/_layout.pug

block login
  .btn.btn-group.btn-group-sm(data-toggle="modal" data-target="#login")
    button.btn.btn-primary.pr-1
      i.glyphicon.glyphicon-user.text-secondary.m-0
    button.btn.btn-primary.pl-1
      | Login

block content
  .container-fluid
    .alert.alert-danger
      span
        i.glyphicon.glyphicon-exclamation-sign
      span.ml-1 Danger Will Robinson!
    .text-center.my-1
      a(href="/bfc/markets") Trade
      span.pl-1 on the current top markets or select:
    form
      .float-right.text-right
        span.badge.badge-success.mr-2 Online
        span.badge.badge-warning.mr-2 Absent
        span.badge.badge-dark Offline
      .online_provider
        .float-left.mt-3
          .custom-control.custom-checkbox
            input.custom-control-input(type="checkbox" id="NATIONAL_BANK" value="NATIONAL_BANK")
            label.custom-control-label(for="NATIONAL_BANK")
        .head
          span
            | NATIONAL_BANK
            small.text-muted.ml-1 (27)
        .bar
          .progress
            .progress-bar.bg-success(style="width:50%;") 50%
            .progress-bar.bg-warning(style="width:20%;") 20%
            .progress-bar.bg-empty.progress-bar-striped(style="width:30%;")
      .online_provider
        .float-left.mt-3
          .custom-control.custom-checkbox
            input.custom-control-input(type="checkbox" id="SPECIFIC_BANK" value="SPECIFIC_BANK")
            label.custom-control-label(for="SPECIFIC_BANK")
        .head
          span
            | SPECIFIC_BANK
            small.text-muted.ml-1 (12)
        .bar
          .progress
            .progress-bar.bg-success(style="width:40%;") 40%
            .progress-bar.bg-warning(style="width:10%;") 10%
            .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
      .online_provider
        .float-left.mt-3
          .custom-control.custom-checkbox
            input.custom-control-input(type="checkbox" id="OTHER" value="OTHER")
            label.custom-control-label(for="OTHER")
        .head
          span
            | OTHER
            small.text-muted.ml-1 (8)
        .bar
          .progress
            .progress-bar.bg-success(style="width:30%;") 30%
            .progress-bar.bg-warning(style="width:10%;") 10%
            .progress-bar.bg-empty.progress-bar-striped(style="width:60%;")
      .online_provider
        .float-left.mt-3
          .custom-control.custom-checkbox
            input.custom-control-input(type="checkbox" id="PAYPAL" value="PAYPAL")
            label.custom-control-label(for="PAYPAL")
        .head
          span PAYPAL
          small.text-muted.ml-1 (1)
        .bar
          .progress
            .progress-bar.bg-success(style="width:10%;") 10%
            .progress-bar.bg-warning(style="width:20%;") 20%
            .progress-bar.bg-empty.progress-bar-striped(style="width:70%;")
      .progress.mt-2
        .progress-bar.progress-bar-striped.progress-bar-animated(style="width:100%")
      .text-center
        button.btn.btn-primary.mt-2(type="submit") Let's Trade!
        button.btn.btn-link.mt-2 Update
    hr

    .head
      span
        | 01/2021
        small.text-muted.ml-1 (27)
    .bar
      .progress
        .progress-bar.bg-danger(style="width:100%;") 100%
        .progress-bar.bg-empty.progress-bar-striped(style="width:0%;")
    .head
      span
        | 02/2021
        small.text-success.ml-1 @6502476.35 (-14.64%)
        small.text-danger.ml-1 @7617960.96
    .bar
      .progress
        .progress-bar.bg-success(style="width:50%;") 50357.08 (21)
        .progress-bar.bg-danger(style="width:20%;") 291193.48 (41)
        .progress-bar.bg-empty.progress-bar-striped(style="width:30%;")
    .head
      span
        | 04/2021
        small.text-success.ml-1 @8854229.21 (-3.06%)
        small.text-danger.ml-1 @9133559.63
    .bar
      .progress
        .progress-bar.bg-success(style="width:30%;") 30%
        .progress-bar.bg-danger(style="width:10%;") 10%
        .progress-bar.bg-empty.progress-bar-striped(style="width:60%;")
    .head
      span
        | 11/2021
        small.text-muted.ml-1 (20)
    .bar
      .progress
        .progress-bar.bg-success(style="width:100%;") 100%
        .progress-bar.bg-empty.progress-bar-striped(style="width:0%;")
    .head
      span 12/2021
      small.text-muted.ml-1 (1)
    .bar
      .progress
        .progress-bar.bg-danger(style="width:10%;") 10%
        .progress-bar.bg-success(style="width:20%;") 20%
        .progress-bar.bg-empty.progress-bar-striped(style="width:70%;")
    hr

    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle="tab" href="#all")
          i.glyphicon.glyphicon-globe.mr-2
          small All
      li.nav-item
        a.nav-link(data-toggle="tab" href="#fav")
          i.glyphicon.glyphicon-star.mr-2
          small Fav.
    .tab-content.mt-3
      .tab-pane.active#all
        form.form-inline.justify-content-end
          .custom-control.custom-checkbox.my-1.mr-2
            input.custom-control-input(type="checkbox" id="favs" value="yes")
            label.custom-control-label(for="favs") Favs.
          button.btn.btn-sm.btn-primary(type="button") Refresh
        .currency.clearfix
          .float-left.mt-3
            a.btn.btn-link(href="#" title="Remove from Fav.")
              i.glyphicon.glyphicon-star
          .row
            .col.pl-0
              span.d-block.d-md-none VES
              span.d-none.d-md-block Venezuelan Bolívar (VES)
            .col.text-center
              small.text-primary 10.67T VES
            .col.pr-0.text-right
              small.text-muted.d-block.d-md-none
                .nobr 10.67T VES/BTC
              small.text-muted.d-none.d-md-block 10.6701686707.43 VES/BTC
          .bar
            .progress
              .progress-bar(style="width:100%;") 12.8 BTC
              .progress-bar.bg-empty.progress-bar-striped(style="width:0%;")
        .currency.clearfix
          .float-left.mt-3
            a.btn.btn-link(href="#" title="Add to Fav.")
              i.glyphicon.glyphicon-star-empty
          .row
            .col.pl-0
              span.d-block.d-md-none RUB
              span.d-none.d-md-block Russian Ruble (RUB)
            .col.text-center
              small.text-primary 10.67T RUB
            .col.pr-0.text-right
              small.text-muted.d-block.d-md-none
                .nobr 10.67T RUB/BTC
              small.text-muted.d-none.d-md-block 106701686707.43 RUB/BTC
          .bar
            .progress
              .progress-bar(style="width:90%;") 12.6 BTC
              .progress-bar.bg-empty.progress-bar-striped(style="width:10%;")
        .currency.clearfix
          .float-left.mt-3
            a.btn.btn-link(href="#" title="Remove from Fav.")
              i.glyphicon.glyphicon-star
          .row
            .col.pl-0
              span.d-block.d-md-none COP
              span.d-none.d-md-block Colombian Peso (COP)
            .col.text-center
              small.text-primary 10.67T COP
            .col.pr-0.text-right
              small.text-muted.d-block.d-md-none
                .nobr 10.67T COP/BTC
              small.text-muted.d-none.d-md-block 106701686707.43 COP/BTC
          .bar
            .progress
              .progress-bar(style="width:70%;") 9 BTC
              .progress-bar.bg-empty.progress-bar-striped(style="width:30%;")
        .currency.clearfix
          .float-left.mt-3
            a.btn.btn-link(href="#" title="Add to Fav.")
              i.glyphicon.glyphicon-star-empty
          .row
            .col.pl-0
              span.d-block.d-md-none GBP
              span.d-none.d-md-block British Pound (GBP)
            .col.text-center
              small.text-primary 10.67T GBP
            .col.pr-0.text-right
              small.text-muted.d-block.d-md-none
                .nobr 10.67T GBP/BTC
              small.text-muted.d-none.d-md-block 106701686707.43 GBP/BTC
          .bar
            .progress
              .progress-bar(style="width:60%;") 7.8 BTC
              .progress-bar.bg-empty.progress-bar-striped(style="width:40%;")
      .tab-pane#fav
        .currency.clearfix
          .float-left.mt-3
            a.btn.btn-link(href="#" title="Remove from Fav.")
              i.glyphicon.glyphicon-star
          .row
            .col.pl-0
              span.d-block.d-md-none VES
              span.d-none.d-md-block Venezuelan Bolívar (VES)
            .col.text-center
              small.text-primary 10.67T VES
            .col.pr-0.text-right
              small.text-muted.d-block.d-md-none
                .nobr 10.67T VES/BTC
              small.text-muted.d-none.d-md-block 10.6701686707.43 VES/BTC
          .bar
            .progress
              .progress-bar(style="width:100%;") 12.8 BTC
              .progress-bar.bg-empty.progress-bar-striped(style="width:0%;")
        .currency.clearfix
          .float-left.mt-3
            a.btn.btn-link(href="#" title="Remove from Fav.")
              i.glyphicon.glyphicon-star
          .row
            .col.pl-0
              span.d-block.d-md-none COP
              span.d-none.d-md-block Colombian Peso (COP)
            .col.text-center
              small.text-primary 10.67T COP
            .col.pr-0.text-right
              small.text-muted.d-block.d-md-none
                .nobr 10.67T COP/BTC
              small.text-muted.d-none.d-md-block 106701686707.43 COP/BTC
          .bar
            .progress
              .progress-bar(style="width:70%;") 9 BTC
              .progress-bar.bg-empty.progress-bar-striped(style="width:30%;")
        hr
        .table-responsive
          table.table.table-sm
            thead.thead-dark
              th
              th ARS
              th BOB
              th BRL
              th CLP
              th USD
              th UYU
            tbody
              tr
                th ARS
                td 1
                td -
                td -
                td -
                td -
                td -
              tr
                th BOB
                td -
                td 1
                td -
                td -
                td -
                td -
              tr
                th BRL
                td -
                td -
                td 1
                td -
                td -
                td -
              tr
                th CLP
                td -
                td -
                td -
                td 1
                td -
                td -
              tr
                th USD
                td -
                td -
                td -
                td -
                td 1
                td -
              tr
                th UYU
                td -
                td -
                td -
                td -
                td -
                td 1
    hr

  .modal#login
    .modal-dialog
      .modal-content
        form
          .modal-header
            h6.modal-title Login with your API credentials
            button.close(type="button" data-dismiss="modal")
              span &times;
          .modal-body
            .alert.alert-danger.mb-2
              span
                i.glyphicon.glyphicon-exclamation-sign
              span.ml-1 Wrong key/secret!
            label API key
            input.form-control(name="api_key" type="password" placeholder="")
            label API secret
            input.form-control(name="api_secret" type="password" placeholder="")
            small.form-text.text-muted
              i.glyphicon.glyphicon-info-sign.mr-1
              | Get your API credentials at https://localbitcoins.com/accounts/api/
          .modal-footer.py-1
            button.btn.btn-link(type="submit").disabled
              .spinner-border.spinner-border-sm.mr-1
              |  Submit
            button.btn.btn-primary(type="submit")
              span.glyphicon.glyphicon-ok.mr-1
              |  Submit
            button.btn.btn-default(type="button" data-dismiss="modal") Cancel

  nav.navbar.fixed-bottom.justify-content-center
    .btn-toolbar#bar
      .btn-group
        button.btn.btn-info(type="button")
          i.glyphicon.glyphicon-globe
        button.btn.btn-secondary(type="button")
          | ARS
        button.btn.btn-secondary(type="button")
          | BRL
        button.btn.btn-secondary(type="button")
          | BOB
        button.btn.btn-secondary(type="button")
          | CLP
        button.btn.btn-secondary(type="button")
          | USD
        button.btn.btn-secondary(type="button")
          | UYU
        button.btn.btn-secondary(type="button")
          | ...
        //-
          button.btn.btn-info(type="button")
            | DASH
          button.btn.btn-secondary(type="button")
            | ETH
          button.btn.btn-secondary(type="button")
            | LTC
          button.btn.btn-secondary(type="button")
            | XLM
          button.btn.btn-secondary(type="button")
            | XMR
          button.btn.btn-secondary(type="button")
            | XRP
          button.btn.btn-secondary(type="button")
            | XVG
