doctype html
html(lang="en")
  head
    title bfc
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/glyphicons.css")
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="/css/bfc.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light#header
      block login
      .order-lg-last
        button.btn.btn-link#wallet
          span 0.00169
          i.glyphicon.glyphicon-bitcoin.ml-1
      button.navbar-toggler(data-toggle="collapse" data-target="#collapser")
        span.navbar-toggler-icon
      .navbar-collapse.collapse#collapser
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link.active(href="/bfc/home") Home
          li.nav-item
            a.nav-link(href="/bfc/contacts") Contacts
          li.nav-item
            a.nav-link(href="/bfc/markets") Markets
          li.nav-item
            a.nav-link(href="/bfc/messenger") Messenger
          li.nav-item

    block content

    script(src="/js/jquery.slim.min.js")
    script(src="/js/bootstrap.min.js")

    block javascript

//- vim: foldlevel=3 filetype=slim
