.market_ad
  h5.mb-0.text-danger
    span.temp_price 5206045.00
    span.pl-1.currency ARS
  small.text-muted Limit 100-10K
  address
    //- visible on md and up
    span.d-none.d-sm-block
      i.glyphicon.glyphicon-user.mr-1
      | CoinASAP (1000+; 99%)
    //- visible only on sm; hidden on md and up
    span.d-block.d-sm-none
      i.glyphicon.glyphicon-user.mr-1
      | CoinASAP
    small.truncate.text-muted
      i.glyphicon.glyphicon-tag.mr-1
      | Provincia, ITAU, Nacion, BBVA, Galicia
