.text-center.mt-1
  .btn-group.btn-group-sm
    button.btn.btn-sm(type="button")
      i.glyphicon.glyphicon-link.mr-1
      small Share
    button.btn.btn-sm(type="button")
      i.glyphicon.glyphicon-floppy-disk.mr-1
      small Save
    button.btn.btn-sm(type="button")
      i.glyphicon.glyphicon-refresh.mr-1
      small Update

//- vim: nofoldenable filetype=slim
