extends _layout.pug

block content
  .container-fluid
    h1 stack-to-years progress
    // Await
    .bar
      .float-left.mr-1.text-muted.small
        | 2023
      .float-right.ml-1.text-muted.small
        | 2123
      .progress
        .progress-bar.progress-bar-striped.progress-bar-animated(style="width:100%;")
    include _btn_close.pug
    // Error
    .bar
      .float-left.mr-1.text-muted.small
        | 0
      .float-right.ml-1.text-muted.small
        | 100
      .progress
        .progress-bar.bg-danger.progress-bar-striped(style="width:100%;")
    include _btn_close.pug
    // Reject
    .bar
      .float-left.mr-1.text-muted.small
        | 0
      .float-right.ml-1.text-muted.small
        | 100
      .progress
        .progress-bar.bg-empty.progress-bar-striped(style="width:100%;")
    include _btn_close.pug
    // Resolve
    form.justify-content-center.form-inline.my-2
      label.mr-2 Stack
      .input-group
        .input-group-prepend
          .input-group-text
            i.glyphicon.glyphicon-xbt
        input.form-control(placeholder="0.1" size="8" type="number")
      label.mx-2 Years
      input.form-control(placeholder="100" size="4" type="number")
      label.mx-2 USD/month
      input.form-control(placeholder="1000" size="5" type="number")
      button.btn.btn-primary.mx-2 Submit
    .text-center
      .small 10.67T RUB/BTC
    .bar.mt-1
      .float-left.mr-1.text-muted.small
        | 2023
      .float-right.ml-1.text-muted.small
        | 2123
      .progress
        .progress-bar(style="width:50%;") 2073 (+50yr)
        .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
    include _btn_group.pug

//- vim: foldlevel=3 filetype=slim
